<header class="uvContainer uvMasthead {% if site.background_color == 'fff' || site.background_color == 'ffffff' %}uvMasthead-white{% endif %}">
    <div class="container">
        <div class="row " style="min-height:60px;padding:20px 0">
            <div class="col-xs-8 col-sm-10">
                {% if site.has_logo %}
                <a class="uvMastheadHomeLink" href="{{ site.path }}" title="{{ site.title }}">
                    <img class="uvMastheadLogo" src="https://bytebucket.org/loogart/uservoice/raw/51aaacfcbc0d217cd8e10c35afea3f3d12cd5cef/img/GAC_white_en.svg?token=7fe9cf25740970938427e9bac17fe886b3beb2da" alt="{{ site.organization.name }}" id="LogoFr" style="height:20px">
                </a>
                {% endif %}
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href=".?lang=fr" style="color:#fff" id="LangToggle"><img src="https://bytebucket.org/loogart/uservoice/raw/cf7351c755d2b08bf67efbc5218fd827b871a71e/img/icon-translate.svg?token=d545a2344044d5c2be3464871a4edd519e5265ad" style="width:16px"> Français</a>
            </div>
        </div>
    </div>
    <div class="header-img"></div>
</header>
