<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="uservoice.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

</head>

<!-- from down on -->

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="img/sig-blk-fr.svg" style="width:240px;"></a>
        </div>
    </nav>

    <!-- copy from here -->


    <div class="uvContainer uvBody">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Data feedback tool</h1>
                <p class="lead">Suggest an idea or improvements to make Global Affairs Canada a better place for its employees and to servce the Canadians better.</p>
                <a href="#!">Give Feedback</a>
            </div>
        </div>



        <div class="container">


            <!--<div class="uvNotice uvNotice-{{ notice[0] }}">
                <p>{{ notice[1] }}</p>
            </div>-->

            <div class="uvCol-8" data-ajaxTarget="homepage-content">

                <!--<article>
                    <header class="uvPageHeader">
                        <h1 class="uvPageTitle uvCustomPrimary-color">{{ site.title }}</h1>
                    </header>
                </article>-->

                <!-- BEGIN site welcome message  -->
                <!--{% if site.body_html %}
                <div class="uvModule uvModule-message typeset">
                    {{ site.body_html }}
                </div>
                {% endif %}-->
                <!-- END  -->

                <!--{% if site.feedback_ui_enabled %} {% if site.forums_count > 1 %}-->
                <!-- BEGIN multi-forum module  -->
                <div class="uvModule-featuredForum">
                    <header class="uvModuleHeader">
                        <h2 class="uvModuleTitle uvCustomPrimary-color">
                            <a href="{{ site.default_forum.path }}">{{ 'Give feedback' | translate }}</a>
                        </h2>
                    </header>
                    <section class="uvModuleSection uvModuleSection-featuredIdeas">
                        <div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">
                                    {{ 'Feedback forums' | translate }}
                                </h4>
                                <ul class="uvList uvList-forums{% if site.forums_count > 5 %} uvList-forums-2col{% endif %}" data-tmpl="portalAltForumsTmpl">
                                    <!--{% for forum in site.forums %}-->
                                    <li class="uvListItem uvListItem-forum-{{ forum.id }}">
                                        <h4 class="uvListItemHeader">
                                  <a href="{{ forum.path }}">{{ forum.name }}</a>
                                  <!--{% if forum.is_private %}-->
                                <span class="uvIcon-private-10">({{ 'private' | translate }})</span>
                                <!--{% endif %}-->
                                </h4>
                                        <p class="uvStyle-meta">
                                            {{ forum.suggestions_count }} {{ 'ideas' | translate }}
                                        </p>
                                    </li>
                                    <!-- {% endfor %}-->
                                </ul>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>


                        <h3 class="uvModuleSectionHeader uvCustomPrimary-color">
                            {{ 'Feedback forums' | translate }}
                        </h3>
                        <ul class="uvList uvList-forums{% if site.forums_count > 5 %} uvList-forums-2col{% endif %}" data-tmpl="portalAltForumsTmpl">
                            <!--{% for forum in site.forums %}-->
                            <li class="uvListItem uvListItem-forum-{{ forum.id }}">
                                <h4 class="uvListItemHeader">
                                  <a href="{{ forum.path }}">{{ forum.name }}</a>
                                  <!--{% if forum.is_private %}-->
                                <span class="uvIcon-private-10">({{ 'private' | translate }})</span>
                                <!--{% endif %}-->
                                </h4>
                                <p class="uvStyle-meta">
                                    {{ forum.suggestions_count }} {{ 'ideas' | translate }}
                                </p>
                            </li>
                            <!-- {% endfor %}-->
                        </ul>
                    </section>

                    <!--{% if site.recently_updated_suggestions.size > 0 %}-->
                    <section class="uvModuleSection uvModuleSection-recentlyUpdatedIdeas">
                        <div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <h3 class="uvModuleSectionHeader uvCustomPrimary-color">{{ 'Recently updated ideas' | translate }}</h3>
                        <ul class="uvList uvList-recentlyUpdatedIdeas">
                            <!--{% for suggestion in site.recently_updated_suggestions limit: 3 %}-->
                            <li class="uvListItem uvListItem-idea-{{ suggestion.id }}">
                                <h4 class="uvListItemHeader"><a href="{{ suggestion.path }}">{{ suggestion.title }}</a></h4>
                                <p class="uvStyle-meta">
                                    <!--{% if suggestion.status_name != nil %} {% if suggestion.status_path %}-->
                                    <a href="{{ suggestion.status_path }}" title="View other {{ suggestion.status_name }} ideas like {{ suggestion.title }}">
                                        <!--{% endif %}-->
                                        <em class="uvStyle-status {{ suggestion.status_class }}">{{ suggestion.status_name | translate }}</em> {% if suggestion.status_path %}</a>
                                    <!--{% endif %} {% endif %} {{ 'Updated' | translate }} {{ suggestion.updated_at | date: "%x" }} &middot;-->
                                    <a href="{{ suggestion.forum.path }}">{{ suggestion.forum.name }}</a>
                                </p>
                            </li>
                            <!--{% endfor %}-->
                        </ul>
                    </section>
                    <!--{% endif %}-->
                </div>

                <!-- END multi-forum module  -->
                {% else %} {% if site.first_forum %}
                <!-- BEGIN single forum module  -->
                <div class="uvModule uvModule-featuredForum">
                    <header class="uvModuleHeader">
                        <h2 class="uvModuleTitle uvCustomPrimary-color"><a href="{{ site.first_forum.path }}">{{ site.first_forum.prompt | translate }}&nbsp;<span class="uvStyle-linkArrow">&#8594;</span></a></h2>
                    </header>
                    <section class="uvModuleSection uvModuleSection-featuredIdeas">
                        <h3 class="uvModuleSectionHeader uvCustomPrimary-color">
                  {{ 'Top ideas from the community' | translate }}
                  {% if site.first_forum.suggestions_count > 0 %}
                    <a href="{{ site.first_forum.path }}" class="uvModuleSectionHeaderMeta">({{site.first_forum.suggestions_count }} {{ 'ideas' | translate }})</a>
                  {% endif %}
                </h3> {% if site.first_forum.has_suggestions %}
                        <ul class="uvList uvList-ideas">
                            {% for suggestion in site.first_forum.suggestions limit: 3 %}
                            <li class="uvListItem uvListItem-idea-{{ suggestion.id }} uvIdea uvIdea-small">
                                {% render_suggestion suggestion %}
                            </li>
                            {% endfor %}
                            <li class="uvListItem uvListItem-postNewIdea"><a href="{{ site.first_forum.path }}">{{ 'Post a new idea' | translate }}&nbsp;<span class="uvStyle-linkArrow">&#8594;</span></a></li>
                        </ul>
                        {% endif %}
                    </section>
                    {% if site.first_forum.recently_updated_suggestions.size > 0 %}
                    <section class="uvModuleSection uvModuleSection-recentlyUpdatedIdeas">
                        <h3 class="uvModuleSectionHeader uvCustomPrimary-color">{{ 'Recently updated ideas' | translate }}</h3>
                        <ul class="uvList uvList-recentlyUpdatedIdeas">
                            {% for suggestion in site.first_forum.recently_updated_suggestions limit: 3 %}
                            <li class="uvListItem uvListItem-idea-{{ suggestion.id }} uvIdea uvIdea-small">
                                <h4 class="uvListItemHeader"><a href="{{ suggestion.path }}">{{ suggestion.title }}</a></h4>
                                <p class="uvStyle-meta">
                                    {% if suggestion.status_name != nil %}
                                    <a href="{{ suggestion.status_path }}" title="View other {{ suggestion.status_name }} ideas like {{ suggestion.title }}"><em class="uvStyle-status {{ suggestion.status_class }}">{{ suggestion.status_name | translate }}</em></a> {% endif %} {{ 'Updated' | translate }} {{ suggestion.updated_at | date: "%x" }}
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                    {% endif %}
                </div>
                <!-- END single forum module  -->
                {% endif %} {% endif %} {% endif %}

                <!-- BEGIN knowledge base module  -->
                {% if site.knowledgebase_ui_enabled and site.has_articles %}
                <div class="uvModule uvModule-knowledgebase">
                    <header class="uvModuleHeader">
                        <h2 class="uvModuleTitle uvCustomPrimary-color">
              <a href="/knowledgebase">{{ 'Knowledge Base' | translate }}</a>
            </h2>
                    </header>
                    <section class="uvModuleSection uvModuleSection-topics">
                        <ol class="uvKbTopics">
                            {% if site.has_topics %} {% for section in site.topics %} {% if section.has_articles %}
                            <li class="uvKbTopic uvKbTopic-{{ section.id }}">
                                <h2 class="uvKbTopicTitle uvCustomPrimary-color"><a href="{{ section.path }}">{{ section.name }}&nbsp;<span class="uvStyle-linkArrow">&#8594;</span></a></h2>
                                <ol class="uvList uvList-articles uvList-faqs">
                                    {% for article in section.articles limit: 5 %}
                                    <li class="uvListItem uvListItem-article-{{ article.id }}">
                                        <a href="{{ article.path }}">{{ article.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ol>
                                {% if section.articles_count > 5 %}
                                <div>
                                    <a href="{{ section.path }}" class="uvListMore" title="View all articles in {{ section.name }}">{{ section.articles_count }} {{ 'articles' | translate }}&nbsp;<span class="uvStyle-linkArrow">&#8594;</span></a>
                                </div>
                                {% endif %}
                            </li>
                            {% endif %} {% endfor %} {% endif %}

                            <li class="uvKbTopic uvKbTopic-all">
                                <h2 class="uvKbTopicTitle uvCustomPrimary-color"><a href="{{ site.all_article_path }}">{{ 'All articles' | translate }}&nbsp;<span class="uvStyle-linkArrow">&#8594;</span></a></h2>
                                <ol class="uvList uvList-articles uvList-faqs">
                                    {% for article in site.articles limit: 5 %}
                                    <li class="uvListItem uvListItem-article-{{ article.id }}">
                                        <a href="{{ article.path }}">{{ article.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ol>
                                {% if site.articles_count > 5 %}
                                <a href="{{ site.all_article_path }}" class="uvListMore" title="View all articles">{{site.articles.size}} {{ 'articles' | translate }}&nbsp;<span class="uvStyle-linkArrow">&#8594;</span></a> {% endif %}
                            </li>

                        </ol>
                    </section>
                </div>
                {% endif %} {% if site.truncate_topics? %}
                <div class="uvModule">
                    <header class="uvModuleHeader">
                        <h2 class="uvModuleTitle uvCustomPrimary-color">
              {{ 'Looking for more articles? Find a topic in the sidebar.' | translate }} &rarr;
            </h2>
                    </header>
                </div>
                {% endif %}

                <!-- END knowledge base module  -->

            </div>

            <div class="uvCol-4 uvSidebar uvCol-last">
                {{ render_user }} {{ render_custom_top_sidebar }} {{ render_sidebar }} {{ render_custom_bottom_sidebar }}
            </div>




        </div>
    </div>


    <!-- footer section -->
    <footer class="uvContainer uvFooter">
        <div class="uvRow">
            <div class="uvCol-12">
                <p>
                    {% if site.organization.url && site.organization.url != '' %}
                    <a href="{{ site.organization.url }}">{{ site.organization.name }}</a>
                    <span class="uvStyle-separator"> &middot; </span> {% endif %}
                    <a href="{{ site.path }}" class='site-frontpage-link'>{{ site.title }}</a>
                    <span class="uvStyle-separator"> &middot; </span>
                    <a href="/tos">{{ "Terms of Service" | translate }} &amp; {{ "Privacy Policy" | translate }}</a>
                </p>
                {% if site.is_white_labelled == false %}
                <p>
                    <a href="http://www.uservoice.com/powered-by/?uv_company_name={{site.organization.name}}&uv_experience=portal&uv_contact_url={{site.host}}&utm_campaign={{campaign}}_poweredby&utm_medium=product&utm_source={{site.host}}">
            Powered By UserVoice
          </a>
                    <span class="uvStyle-separator"> &middot; </span>
                    <a href="https://www.uservoice.com/powered-by/?uv_company_name={{site.organization.name}}&uv_experience=portal&uv_contact_url={{site.host}}&utm_campaign={{campaign}}_feedback&utm_medium=product&utm_source={{site.host}}">
            Product Management Platform
          </a>
                </p>
                {% endif %}
                <p>
                    {{ language_select }}
                </p>
            </div>
        </div>
    </footer>

</body>