<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>-->

<script
  src="https://code.jquery.com/jquery-3.1.1.slim.js"
  integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA="
  crossorigin="anonymous"></script>

<script type="text/javascript">
    $(function () {

        //Get our query string parameters;

        var queries = getUrlVars();

        //Configure our text str in one place to make it simpler to manage.

        var str =
        {
            en:
                {


                },
            fr:
                {
                    main:{
                        title: "Uservoice chez AMC",
                        description: "L'InnoLab vous invite à faire des suggestions pour les Affaires mondiales Canada. Abordez des sujets tels que l'amélioration du milieu de travail, l'innovation aux AMC, etc.",
                        feedback:{
                            title:"Commentaires des forums",
                            text: "Quelques textes sur la rétroaction."
                        },
                        support: {
                            title: "Base de conaissances",
                            text: "Vous avez une question? Consultez la base de connaissances ou contactez-nous."
                        },
                        forum:{
                            link: "https://gac-amc.uservoice.com/forums/592897-français/?lang=fr"
                        }
                    },
                    header: {
                        logo : "https://bytebucket.org/loogart/uservoice/raw/51aaacfcbc0d217cd8e10c35afea3f3d12cd5cef/img/GAC_white_fr.svg?token=59dc7c5c4cf63a73e29e913db4294c23ef62790c",
                        langtoggle: "English"
                    },
                    footer: {
                        org: "Uservoice au AMC",
                        tos: "Conditions d\'utilisation et Politique de confidentialité",
                        powered : "Propulsé par Uservoice",
                        product: "Plate-forme de gestion des produits"
                    }
                }
        };

        //Grabs the URL for reference
        var url = window.location.href;

        //Grabs the URL we are running against and strips out the query string and rebuilds it without the language;

        url= url.substr(0,url.indexOf('?'));
        if (queries.length > 1){
          url= url + "?";
          for (var i = 0; i< queries.length; i++){            
            if (queries[i] != "lang"){
              if(url.substr(url.length-1) != "?") url = url + "&";
              url= url + queries[i] + "=" + queries[queries[i]];
            }
          }
        }

        //Sets the language and locale incase we need to look for it
        var language = queries.lang;
        var bodyHasLocale = $('body').hasClass('uv-locale-fr-CA');
        var bodyHasForum = $('body').hasClass('uv-forum');
        var bodyHasHome = $('body').hasClass('uv-home-page');

        //Deals with oddities of language query string
        //Force english if French isn't detected or if its missing but body set to french locale
        if (language === undefined ) {
            if(bodyHasLocale) language = 'fr';
            else language = 'en';
        }
        else if (language != 'fr') language = 'en';

        //Uservoice JS Api, force to language we detected so widget ends up in language
        UserVoice.push(['set', {
            locale: language, // Defaults to your account’s localization
        }]);

        //Cached Selectors
        var $forumList = $('h4.uvListItemHeader > a, li.uvListItem.uvListItem-forum > a');
        var $LangToggle = $('#LangToggle');

        //Fix the url for the language toggle so it's dynamically generated
        $LangToggle.attr('href', url)

        //Update all hrefs with relevant language

        $("#footerOrg").add($forumList).add($LangToggle).each(function(){
            var $this = $(this);
            var linkref = $(this).attr('href');
            var querystring;
            var tmpLanguage = language;

            if((linkref.toLowerCase()).indexOf("lang=") == -1){
                if(linkref.indexOf("?")==-1) querystring = "?";
                else querystring = "&";
                if ($this.attr('id') == 'LangToggle'){
                  if (language == "en") tmpLanguage = "fr";
                  else tmpLanguage = "en";
                }
                $this.attr('href', linkref + querystring + "lang=" +  tmpLanguage);
            }
        });

        //Cleanup forum list
        $forumList.each(function(){
            var $this = $(this);
            $this.text(getCleanString($this.text(), language));
        });

        //Set Header and footer for all French pages
        if (language == "fr" || bodyHasLocale )
        {
            $('#LogoFr').attr('src',str.fr.header.logo);

            var $tmp = $('#LangToggle > img');
            $('#LangToggle').html($tmp).append(str.fr.header.langtoggle);
            $('#footerOrg').text(str.fr.footer.org);
            $('#footerTOS').text(str.fr.footer.tos);
            $('#footerPowered').text(str.fr.footer.powered);
            $('#footerProduct').text(str.fr.footer.product);
        }

        //Set site content for French home page
        if ((language == "fr" || bodyHasLocale)  && bodyHasHome) {
            document.title = str.fr.main.title;
            $('#SiteTitle').text(str.fr.main.title);
            $('#SiteDescription').text(str.fr.main.description);
            $('#FeedbackTitle').text(str.fr.main.feedback.title);
            $('#FeedbackText').text(str.fr.main.feedback.text);
            $('#SupportTitle,#KnowledgeBaseLink').text(str.fr.main.support.text);
            $('#SupportText').text(str.fr.main.support.text);
            $('#SuggestLangBtn,#JumbotronLangBtn').attr('href', str.fr.main.forum.link);
        }

        //Clean up headers and body title if it contains a bilingual seperator (|#|)
        if(bodyHasForum){fixHeader(language); }

        //Set French translations for forum based pages
        if (language == "fr" && bodyHasForum){

            $('body').addClass('uv-locale-fr-CA');

            document.title = document.title.replace('ideas) – Uservoice at GAC', 'idées) - Uservoice au AMC');

            // $('span.uvRememberMe').on('mouseenter', 'a', function(){
            // 	$('#tiptip_content').text('Cliquez sur ce lien pour rester connecté sur cet ordinateur même après la fermeture de votre navigateur.');
            // });



            $('span.uvRememberMe > a').text('Rester connecté');

            $('div.uvUserNav > a').each(function(){
                if ($(this).text()== "Settings"){$(this).text('Paramètres')}
                else if ($(this).text()== "Sign out"){$(this).text('Déconnexion')}
            });

            var $profileWidget = $('section.uvModuleSection.uvModuleSection-categories > ul.uvList.uvList-categories')

            var newIdea = $profileWidget.find('li.uvListItem.uvListItem-newIdea > a');
            newIdea.attr('href', newIdea.attr('href') + '/?lang=fr').text('Publier une nouvelle idée…');

            var allIdeas = $profileWidget.find('li.uvListItem.uvListItem-selected > a');
            allIdeas.attr('href', allIdeas.attr('href') + '/?lang=fr').text('Toutes les idées');

            var myIdeas = $profileWidget.find('li.uvListItem.uvForumFilter-user > a');
            myIdeas.attr('href', myIdeas.attr('href') + '/?lang=fr').text('Mes idées');

            $('#contactus-touchpoint').text('Rejoindre le soutien technique');

            var suggestIdeas = $('h2.uvNavListItemTitle > a.uvLink-idea')
            suggestIdeas.attr('href', suggestIdeas.attr('href') + '/?lang=fr').text('Suggérer une amélioration');

            $('li.uvForumFilter-hot > a.uvTab').attr('href', $('li.uvForumFilter-hot > a.uvTab').attr('href') + '/?lang=fr').html('<span class="uvTabExtended"> Idées</span> <span class="uvTabContent"> Populaires</span>');
            $('li.uvForumFilter-top > a.uvTab').attr('href', $('li.uvForumFilter-top > a.uvTab').attr('href') + '/?lang=fr').html('<span class="uvTabExtended"> Idées</span> <span class="uvTabContent"> En tête de liste</span>');
            $('li.uvForumFilter-new > a.uvTab').attr('href', $('li.uvForumFilter-new > a.uvTab').attr('href') + '/?lang=fr').html(' <span class="uvTabContent"> Nouvelles</span> <span class="uvTabExtended"> idées</span>');
            $('li.uvForumFilter-my-feedback > a.uvTab').attr('href', $('li.uvForumFilter-my-feedback > a.uvTab').attr('href') + '/?lang=fr').html('Mes idées');
            $('#uvFieldSelect-status').prev('span.uvFieldPlaceholder').text('État');

            $('#uvFieldSelect-status > option').each(function(){
                var obj = $(this);
                var original = obj.text();
                if(!obj.attr('value') == ''){
                    obj.attr('value',obj.attr('value') + '/?lang=fr');
                    obj.text(getStatus(original.substr(0, original.lastIndexOf(' '))) + original.substr(original.lastIndexOf(' ')));
                }
            });

            $('ol.uvList-Ideas').attr('aria-label','Résultats des idées existantes');
            $('section.uvForumSearchResults').attr('aria-label', 'Vérifiez les idées existantes avant d\'en ajouter une nouvelle');

            var explanation = $('div.uvFiltersExplanation > p')
            var explainLink = explanation.children('a').attr('href') + '/?lang=fr';

            explanation.html('Toutes les idées que vous avez pris en charge ou commenté. (<a href="' + explainLink + '">Ne pas afficher les idées fermées</a>)');

            $('#combined_search_sidebar').prev('span').text('Recherche');
            $('#suggestion_title').prev('span').text('Entrez votre idée');
            $('button.uvIdeaVoteFormTriggerState-no_votes').text('Votez');
            $('button.uvIdeaVoteFormTriggerState-you_voted').text('A voté').attr('data-singular','A voté').attr('data-plural','A voté');
            $('a.uvSuggestion-dissociate').each(function(){
                var title = $(this).attr('title');
                title = title.replace('Delete suggestion', 'Supprimer la suggestion')
                $(this).attr('title', title);
            }).text('Suprimer...');
            $('button.uvFlagObject').text('Signaler l\'idée comme inappropriée…').attr('data-success','Cette idée a été signalée comme inappropriée.');
            $('header.uvPageHeader > div.uvBreadcrumbs').html('<a href="/?lang=fr">← Uservoice au AMC</a>');

            var comments = $('.uvIdeaMeta > a');
            comments.each(function(){
                var v =	$(this);
                if (v.children().length == 0){
                    var w = parseInt(v.text().substr(0, v.text().indexOf(' ')));
                    if (w == 1){
                        v.text(w +' commentaire');
                    }else{
                        v.text(w +' commentaires');
                    }
                    v.attr('href', v.attr('href') + '/?lang=fr').attr('title', v.attr('title').replace('Comments for','Commentaires pour'));
                }
            });


            if ($('body').hasClass('uv-suggestion-page')){
                var commentSection = $('#uvjCommentHeader').text();

                if(parseInt(commentSection.substr(0, commentSection.lastIndexOf(' ')))==1){
                    commentSection = commentSection.replace('comment', 'commentaire');
                }else{
                    commentSection = commentSection.replace('comments', 'commentaires');
                }


                var $comments = $('div.uvUserAction.uvUserAction-suggestIdea > div.uvUserActionHeader');

                $comments.each(function(){
                    $(this).html($(this).html().replace('shared this idea','a ajouté cette idée'));
                });

                var $time = $('time');

                $time.each(function(){
                    $(this).text(getFrenchDate($(this).attr('datetime')));
                });

                $('#uvjCommentHeader').attr('data-plural', '%{num} commentaires').attr('data-singular','%{num} commentaire').text(commentSection);

                $('span.uvFieldEtc-thinking').text('Envoi en cours…').prev('button.uvStyle-button').text('Publier un commentaire');
                $('label.uvFieldInner > span.uvFieldPlaceholder').text('Ajouter un commentaire…');
                $('a.uvComment-delete').each(function(){
                    $(this).attr('title',$(this).attr('title').replace("Delete comment from", "Suprimer le commentaire de")).attr('href', $(this).attr('href') + '/?lang=fr').text('Supprimer...');
                });
            }

            var statuses = $('.uvStyle-status');

            statuses.each(function(){
                switch($(this).text()){
                    case 'under review':
                        $(this).text('en cours d\'évaluation');
                        $(this).attr('title','Cette idée est en cours d\'évaluation');
                        break;
                    case 'planned':
                        $(this).text('planifié');
                        $(this).attr('title','Cette idée est planifié');
                        break;
                    case 'started':
                        $(this).text('commencé');
                        $(this).attr('title','Cette idée est commencé');
                        break;
                    case 'completed':
                        $(this).text('terminé');
                        $(this).attr('title','Cette idée est terminé');
                    case 'declined':
                        $(this).text('refusé');
                        $(this).attr('title','Cette idée est refusé');
                        break;
                }
            });

        }
        else{
            $('header.uvPageHeader > div.uvBreadcrumbs').html('<a href="/?lang=en">← Uservoice at GAC</a>');
        }

        function getStatus(currentstatus){
                switch(currentstatus){
                    case 'under review':
                        return 'en cours d\'évaluation';
                        break;
                    case 'planned':
                        return 'planifié';
                        break;
                    case 'started':
                        return 'commencé';
                        break;
                    case 'completed':
                        return 'terminé';
                    case 'declined':
                        return 'refusé';
                        break;
                    default:
                        currentstatus;
                }
        }


        function getUrlVars() {
            var vars = [],
                hash;
            var hashes = window.location.href.toLowerCase().slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }

            return vars;
        }

        function getCleanString(original, lang ){
            if(original.indexOf('|#|') != -1){
                if(lang == 'fr'){
                    return original.substr(original.indexOf('|#|')+3, original.length - original.indexOf('|#|')-3)
                }else{
                    return original.substr(0, original.indexOf('|#|'));
                }
            }else{
                return original
            }

        }

        function getFrenchDate(receiveddate){
            var datechange = new Date(receiveddate);
            return datechange.getDate()+1 + ' '
                + getFrenchMonth(datechange.getMonth()) + ' '
                + datechange.getFullYear();
        }

        function getFrenchMonth(month){
            switch(month) {
                    case 0: return 'janvier'; break;
                    case 1: return 'février'; break;
                    case 2: return 'mars'; break;
                    case 3: return 'avril'; break;
                    case 4: return 'mai'; break;
                    case 5: return 'juin'; break;
                    case 6: return 'juillet'; break;
                    case 7: return 'août'; break;
                case 8: return 'septembre'; break;
                    case 9: return 'octobre'; break;
                    case 10: return 'novembre'; break;
                    case 11: return 'décembre'; break;
            }
        }

        function fixHeader(lang){

            var originalTitle = $('h1.uvPageTitle').text().trim();
            var replacementTitle = getCleanString(originalTitle ,lang);

            $('h1.uvPageTitle').html($('h1.uvPageTitle').html().replace(originalTitle, replacementTitle));
            $('h2.uvModuleSectionHeader').text(replacementTitle);


            var tmp = document.title;
            tmp = tmp.replace(originalTitle , replacementTitle);


            document.title = tmp;

            originalTitle = $('h2.uvForumCreateIdeaLegend').text();
            replacementTitle = getCleanString(originalTitle ,lang);

            $('h2.uvForumCreateIdeaLegend').text(replacementTitle);

        }

    });


</script>