<p>Welcome to Global Affairs Canada's feedback and suggestions site! We love hearing from our colleagues If you have suggestions for how we can improve, please share them with us here. While we can't respond to every suggestion, we are committed to reading every post.</p>
<h3>How it works</h3>
<ol>
    <li>Select one of the feedback forums from the list below</li>
    <li>Check out the ideas others have suggested and vote on your favorites</li>
    <li>If you have a suggestion that’s not listed yet, submit your own -- 25 words or less, please</li>
    <li>One idea per post</li>
    <li>You can also start a discussion in the Ideas forum</li>
</ol>
<p>Thanks for joining our community and helping improve Global Affairs Canada. We're happy you're here!</p>

|#|

<p>Bienvenue au site de commentaires et suggestions des Affaires mondiales Canada! Nous aimons recevoir des commentaires de nos collègues. Si vous avez des suggestions qui peuvent améliorer nos activités quotidiennes, veuillez les partager avec nous ici. Bien que nous ne puissions pas répondre à toutes les suggestions, nous nous engageons à lire chaque article.</p>
<h3>Comment ça fonctionne</h3>
<ol>
    <li>Sélectionnez l'un des forums de commentaires dans la liste ci-dessous</li>
    <li>Découvrez les idées que les autres ont suggérées et votez vos préférées</li>
    <li>Si vous avez une suggestion qui n'est pas encore listée, soumettez-la - 25 mots ou moins, S.V.P.</li>
    <li>Une idée par soumission</li>
    <li>Vous pouvez également commencer une discussion dans le forum Idées</li>
</ol>
<p>Merci de vous joindre à notre communauté et d'aider à améliorer Affaires mondiales Canada. Nous sommes heureux que vous soyez ici!</p>