.uvBody {
    padding-top: 0;
    background-color: #f6f6f6;
}

.navbar-light {
    background-color: #fff;
    /*border-bottom: 1px solid #ccc;*/
    padding: 15px;
}

.uvMasthead {
    border-bottom: 0;
}

.uvContainer {
    padding-left: 0;
    padding-right: 0;
}

.display-4 {
    letter-spacing: 4px;
}

.jumbotron {
    background-color: #f6f6f6;
}

.header-img{
    background-image: url('https://bytebucket.org/loogart/uservoice/raw/db4b648f4adf39b3604f9ca1eab429834a44a423/img/team2.jpg');
    background-position: 50% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    height:420px;
}

.header-forum{
    height:60px;
    background-color: #f6f6f6;
}

.btn-primary {
    background-color: #335075;
    border-color: #335075;
}

.btn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .2s ease;
}

.uvBody {
    border-top: 0 solid transparent;
    color: #292C33;
    padding-top: 0;
    padding-bottom: 40px;
}


.uvFooter {
    width: 100%;
    color: #666F80;
    font-size: 11px;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
    background-color: #28323c;
}

.uvFooter a {
    color: #dcf0ff;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .2s ease;    
     border: 0 solid rgba(0,0,0,0);
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card .header {
    text-align: center;
    padding:30px 0;
}

.jumbotron ul, .jumbotron ol {
    list-style:inherit;
}

.jumbotron li{
    margin-left: 20px;
}
