<div class="row">
    <div class="col-sm-4">
        <!-- ### -->
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">
                                    {{ 'Feedback forums' | translate }}
                                </h4>
                <ul class="uvList uvList-forums{% if site.forums_count > 5 %} uvList-forums-2col{% endif %}" data-tmpl="portalAltForumsTmpl">
                    <!--{% for forum in site.forums %}-->
                    <li class="uvListItem uvListItem-forum-{{ forum.id }}">
                        <h6 class="uvListItemHeader">
                                  <a href="{{ forum.path }}">{{ forum.name }}</a>
                                  <!--{% if forum.is_private %}-->
                                <span class="uvIcon-private-10">({{ 'private' | translate }})</span>
                                <!--{% endif %}-->
                                </h6>
                        <p class="uvStyle-meta">
                            {{ forum.suggestions_count }} {{ 'ideas' | translate }}
                        </p>
                    </li>
                    <!-- {% endfor %}-->
                </ul>
                <a href="{{ site.default_forum.path }}" class="btn btn-primary">{{ 'Give feedback' | translate }}</a>
            </div>
        </div>

        <!-- ###-->
    </div>

    <!-- card 2 -->
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card 2</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <!-- card 3 -->
    <div class="col-sm-4">
    </div>
</div>
<!-- end of row -->